
.flex {
    display: flex !important; 
    flex-wrap: wrap !important;
}
.align-start {
    align-items: start !important;
}
.align-center {
    align-items: center !important;
}
.align-end {
    align-items: end !important;
}

.justify-start {
    justify-content: flex-start !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-between {
    justify-content: space-between !important;
}
.justify-around {
    justify-content: space-around !important;
}
.justify-evenly {
    justify-content: space-evenly !important;
}